# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
*.properties
application.properties

CuantoMeme2.0/bbdd_ejem6_mio/target/classes/es/urjc/code/daw/Application.class