<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div style="margin-top:50px;" class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header">
                    <h3>Ingrese sus datos</h3>
                </div>
                <div class="card-block">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Nombre de usuario" name="user" type="text" autofocus [(ngModel)]="username">

                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Contraseña" name="password" type="password" value="" [(ngModel)]="pass">

                            </div>
                            <div class="form-group">

                                <angular2-multiselect [data]="itemList" [(ngModel)]="selectedItems" name="something" [settings]="settings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                                </angular2-multiselect>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <div class="form-group">
                                <a style="color:white" (click)="login()" class="btn btn-lg btn-success btn-block">Login</a>

                            </div>
                            <!--
                                                                    <div *ngIf="error">
                                        <ngb-alert type= "danger">{{error_message}}</ngb-alert>
                                </div>

                                -->
                            <div *ngIf="error">
                                <ngb-alert type="danger">{{error_message}}</ngb-alert>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>