.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.jumbotron {
    /*background-color: #1abc9c;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 5px;
}

.avatar:hover + .enlaceUser {
    display: block;
}

.enlaceUser:hover {
    display: block;
}

.enlaceUser {
    display: none;
}

.badge {
    border-radius: 50px;
    background-color: white;
    color: dimgrey;
    font-size: 0.8em;
}
.evento-item-main-container h2{
    align-content: center;
    text-align: center;
}
.btn-circle {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 30px;
}