:host {
  background: white;
  color: black;
  position: inherit;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1%;
  min-width: 250px;
  z-index: 9999;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-left: 2px solid black;
}
 
ul {
    
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  padding-top: 0px;
  list-style: none;
}

h2 {
    padding-top: 10px;
}

#sidebar{
  background: white
}
#profile-image-sidebar{
  width: 80%;
}