<div id="total-container" *ngIf="this.ServicioLogin.isLogged">
    <div class="row">
        <div class="col-md-2" id="sidebar" >
                <side-menu [@slideInOut]="toggled"></side-menu>
            <!--
            <img id="user-avatar" [src]="ServicioLogin.user_logged.avatar" width="300px" class="rounded img-fluid mx-auto d-block">
            <h1 class="display-4 text-center">{{this.ServicioLogin.user_logged.username}}</h1>
            <p class="lead text-center"><i class="fa fa-envelope" aria-hidden="true"></i> Email: {{this.ServicioLogin.user_logged.email}}</p>
            <hr>
            -->
        </div>
        <div class="col-md-10">
            <div id="content">
                    <div class="btn-group" role="group" aria-label="aaa">
                            <div id="tabs">
                                  <button type="button" [ngClass]="{'active': opcion == 'obtener'}" (click)="eleccion('obtener')"  class="btn btn-select btn-lg btn-link">Listar Clases</button>
                                  <button type="button" [ngClass]="{'active': opcion == 'crear'}" (click)="eleccion('crear')"  class="btn btn-select btn-lg btn-link">Crear Clase</button>
                            </div>
              
                          </div>
                          <hr>
              
                          <div *ngIf="opcion == 'obtener'">
                            <ul *ngIf="classrooms"class="list-unstyled">
                                <li class="media" *ngFor="let classroom of classrooms">
                                    <img width="100px" class="d-flex mr-3 rounded-circle" [src]="" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h4 class="mt-0 mb-1 display-4">{{classroom.name}}</h4>
                                    </div>
                                </li>
                            </ul>
                          </div>
                          <div *ngIf="opcion == 'crear'">
                             <div>
                                  <form>
                                      <div class="form-group">
                                          <label for="classroomnameinput">Classroom</label>
                                          <input [(ngModel)]="classroom" type="text" class="form-control" id="classroomnameinput" aria-describedby="classroomnameHelp" placeholder="1A" name="classroomname" ng-required="true">
                                      </div>
                                      <div class="form-group">
                                        <label for="dateinput">Nivel</label>
                                        <angular2-multiselect [data]="itemList" 
                                            [(ngModel)]="selectedItems" name= "something5"
                                            [settings]="settings" 
                                            (onSelect)="onItemSelect($event)"
                                            (onDeSelect)="OnItemDeSelect($event)" 
                                            (onSelectAll)="onSelectAll($event)" 
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                     </div>
                                  <button class="btn btn-info" type="button" (click)="createClassroom()">Crear clase!</button>
                                  </form>
                                  <p  style="color:rgb(248, 53, 53)" value="">{{message_to_show }}</p>
              
                             </div>
                          </div>

            </div>
            
        </div>
    </div>
</div>