<div *ngIf="event">
        <div id="body-details">
            <!-- -->
            <div class="row">
                <div class="col-md-2" id="sidebar">
                    <side-menu [@slideInOut]="toggled"></side-menu>
                </div>
                <!-- -->
                <div id="viñeta" class="col-md-10">
                    <!-- -->
                    <div class="col-md-10">
                        <h2 class="display-3 text-center">{{event.title}}</h2>
                        <div id="event-details-carousel">
                            <ngb-carousel id="event-details-carousel-slide">
                                <div *ngFor="let multimedia of multimedias">
                                    <ng-template ngbSlide>
                                        <img [src]="multimedia.picture_url" alt="Random first slide">
                                        <div class="carousel-caption">
    
                                            <h3>{{multimedia.picture_name}}</h3>
                                            <ul class="list-inline">
                                                <li *ngFor="let tag of multimedia.tags" class="list-inline-item">
                                                    <span class="badge badge-info">{{tag}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </ng-template>
                                </div>
                            </ngb-carousel>
                        </div>
                        <p class="text-center lead">{{event.description}}</p>
                        <h4 class="text-center lead">- Detalles -</h4>
                        <div id='ToogleUploadPictureForm'>
                            <p>
                                <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                                                                                                Subir una imagen</button>
                            </p>
                            <div id="collapseExample" [ngbCollapse]="isCollapsed">
                                <form>
                                    <div class="form-group">
                                        <label for="title_picture_to_upload_input">Título imagen</label>
                                        <input [(ngModel)]="input_title_picture_to_upload" type="text" class="form-control" id="title_picture_to_upload_input" aria-describedby="title_picture_to_upload_Help" placeholder="Ponle título" name="title_picture_to_upload">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- -->
                    <!-- -->
                    <div class="col-md-2" id="event-detail-classrooms-list">
                        <div id="event-detail-classrooms-list-container">
                            <h5 class="lead">Classrooms invited</h5>
                            <ul class="list-group">
                                <div *ngFor="let classroom of event.classrooms">
                                    <li class="list-group-item">{{classroom}}</li>
                                </div>
                            </ul>
                            <hr>
                            <form>
                                <div *ngIf="itemList" class="form-group">
                                    <label for="dateinput">Add Classrooms</label>
                                    <angular2-multiselect [data]="itemList" [(ngModel)]="selectedItems" name="something4" [settings]="settings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                                    </angular2-multiselect>
                                </div>
                                <button class="btn btn-info" type="button" (click)="modify_event()">Invitar a evento!</button>
    
                            </form>
                        </div>
                        <p style="color:rgb(248, 53, 53)" value="">{{message_to_show }}</p>
    
                    </div>
                    <!-- -->
                </div>
                <!-- -->
            </div>
            <!-- -->
        </div>
        <!-- -->
        <div id="comentarB" class="row">
            <div class="container text-center">
                <p id="comentarP">Comentar</p>
                <hr id="comentarHR">
                <div class="input-group">
                    <!-- **** -->
                </div>
            </div>
        </div>
    </div>
