<div *ngIf="event">
        <div id="body-details">
            <!-- -->
            <div class="row">
                <div class="col-md-2" id="sidebar">
                    <side-menu></side-menu>
                </div>
                <!-- -->
                <div id="viñeta" class="col-md-10">
                    <!-- -->
                    <div class='row'>
                    <div class="col-md-10">
                        <div id="event-details-carousel">
                            <div *ngIf='multimedias'> 
                                <multimedia-lists [listamultimedia]='multimedias'></multimedia-lists>
                            </div>
                        </div>
                        <p class="text-center lead">{{event.description}}</p>
                        <div id='ToogleUploadPictureForm'>
                            <p>
                                <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                                                                                                Subir una imagen</button>
                            </p>
                            <div id="collapseExample" [ngbCollapse]="isCollapsed">
                                    <form>
                                            <div class="form-group">
                                                    <label for="title_picture_to_upload_input">Título imagen</label>
                                                    <input [(ngModel)]="input_title_picture_to_upload" type="text" class="form-control" id="title_picture_to_upload_input" aria-describedby="title_picture_to_upload_Help" placeholder="Ponle título" name="title_picture_to_upload">
                                            </div>
                                            <div class="form-group">
                                                            <label for="imageninput">Imagen de evento</label>
                                                            <input type="file" accept="image/*" class="form-control" id="imageninput" name="file" (change)="fileChange($event)">
                                            </div>
                                            <button class="btn btn-info" type="button" (click)="upload_picture()">Subir Imagen!</button>
                                    </form>
                                    <p  style="color:rgb(248, 53, 53)" value="">{{message_to_show }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- -->
                    <!-- -->
                    <div class="col-md-2" id="event-detail-classrooms-list">
                        <div id="event-detail-classrooms-list-container">
                            <h5 class="lead">Classrooms invited</h5>
                            <ul class="list-group">
                                <div *ngFor="let classroom of event.classrooms">
                                    <li class="list-group-item">{{classroom}}</li>
                                </div>
                            </ul>
                            <hr>
                            <div  *ngIf="this.ServicioLogin.user_logged.role=='teacher'">
                                <form>
                                    <div *ngIf="itemList" class="form-group">
                                        <label for="dateinput">Add Classrooms</label>
                                        <angular2-multiselect [data]="itemList" [(ngModel)]="selectedItems" name="something4" [settings]="settings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                    <button class="btn btn-info" type="button" (click)="modify_event()">Invitar a evento!</button>
        
                                </form>
                            </div>
                        </div>
                        <p style="color:rgb(248, 53, 53)" value="">{{message_to_show }}</p>
    
                    </div>
                    </div>
                    <!-- -->
                </div>
                <!-- -->
            </div>
            <!-- -->
        </div>
        <!-- -->
        <div id="comentarB" class="row">
            <div class="container text-center">
                <p id="comentarP">Comentar</p>
                <hr id="comentarHR">
                <div class="input-group">
                    <!-- **** -->
                </div>
            </div>
        </div>
    </div>
