<div id="body-perfil" *ngIf="this.ServicioLogin.isLogged">
    <div class="row">
        <div class="col-md-3">
            <img id="user-avatar" [src]="ServicioLogin.user_logged.avatar" width="300px" class="rounded img-fluid mx-auto d-block">
            <h1 class="display-4 text-center">{{this.ServicioLogin.user_logged.username}}</h1>
            <p class="lead text-center"><i class="fa fa-envelope" aria-hidden="true"></i> Email: {{this.ServicioLogin.user_logged.email}}</p>
            <hr>
        </div>
        <div class="col-md-9">
            <div class="btn-group" role="group" aria-label="aaa">
              <button type="button" [ngClass]="{'active': opcion == 'publicadas'}" (click)="eleccion('publicadas')"  class="btn btn-select btn-lg btn-link">Publicadas</button>
              <button type="button" [ngClass]="{'active': opcion == 'timeline'}" (click)="eleccion('timeline')"  class="btn btn-select btn-lg btn-link active">Timeline</button>
              <button type="button" [ngClass]="{'active': opcion == 'publicar'}" (click)="eleccion('publicar')"  class="btn btn-select btn-lg btn-link">Publicar viñeta</button>
              <button type="button" [ngClass]="{'active': opcion == 'modificar'}" (click)="eleccion('modificar')"  class="btn btn-select btn-lg btn-link">Modificar perfil</button>
              <button type="button" [ngClass]="{'active': opcion == 'seguidos'}" (click)="eleccion('seguidos')"  class="btn btn-select btn-lg btn-link">Seguidos</button>
              <button type="button" [ngClass]="{'active': opcion == 'seguidores'}" (click)="eleccion('seguidores')"  class="btn btn-select btn-lg btn-link">Seguidores</button>
            </div>
            <hr>

            <div *ngIf="opcion == 'publicadas'">
                <!--
                <lista-vinetas [listaVinetas]="this.ServicioLogin.user.getSubidas()"></lista-vinetas>
                -->
            </div>
            <div *ngIf="opcion == 'timeline'">
                <!--
                <lista-vinetas [listaVinetas]="this.ServicioLogin.user.getTimeline()"></lista-vinetas>
                -->
            </div>
            <div *ngIf="opcion == 'publicar'">
               <div class="col-md-7">
                    <form>
                        <div class="form-group">
                            <label for="tituloinput">Título</label>
                            <input [(ngModel)]="tituloVineta" type="text" class="form-control" id="tituloinput" aria-describedby="emailHelp" placeholder="Ponle título" name="titulo">
                        </div>
                        <div class="form-group">
                            <label for="descinput">Descripción</label>
                            <input [(ngModel)]="descVineta" type="text" class="form-control" id="descinput" aria-describedby="emailHelp" placeholder="Dale una descripción corta" name="desc">
                        </div>
                        <div class="form-group">
                            <label for="imageninput">Imagen</label>
                            <input type="file" class="form-control" id="imageninput" name="file" (change)="fileChange($event)">
                            <small>¡No más de 1mb!</small>
                        </div>
                        <div class="form-group">
                            <label for="taginput">Tag</label>
                            <input [(ngModel)]="tagVineta" type="text" class="form-control" id="descinput" aria-describedby="emailHelp" placeholder="Dale un tag" name="tag">
                            <small>Solo uno. Los espacios se borrarán.</small>
                        </div>
                        <button class="btn btn-info" type="button" (click)="subirVineta()">¡Enviar!</button>
                    </form>
               </div>
            </div>
            <div *ngIf="opcion == 'modificar'">
               <div class="col-md-7">
                    <form>
                        <div class="form-group">
                            <label for="avatarinput">Cambiar avatar</label>
                            <input type="file" class="form-control" id="avatarinput" name="file" (change)="avatarChange($event)">
                            <small>¡No más de 1mb!</small>
                        </div>
                        <button class="btn btn-info" type="button" (click)="cambiarAvatar()">¡Enviar!</button>
                    </form>
               </div>
            </div>
            <div *ngIf="opcion == 'seguidos'">
                <!--
                <ul class="list-unstyled">
                    <h2 *ngIf="seguidos.length < 1">¡No sigues a nadie!</h2>
                    <li class="media" *ngFor="let usuario of seguidos ">
                        <img width="100px" class="d-flex mr-3 rounded-circle" [src]="usuario.avatarURL" alt="Generic placeholder image">
                        <div class="media-body">
                            <h4 class="mt-0 mb-1 display-4">{{usuario.username}}</h4>
                            <button type="button" (click)="unfollowuser(usuario.id)" class="btn btn-sm btn-follow btn-primary">Dejar de seguir</button>
                        </div>
                    </li>
                </ul>
            -->
            </div>
            <div *ngIf="opcion == 'seguidores'">
                <!--
                <ul class="list-unstyled">
                    <h2 *ngIf="seguidores.length < 1">¡No te sigue nadie!</h2>
                    <li class="media" *ngFor="let usuario of seguidores">
                        <img width="100px" class="d-flex mr-3 rounded-circle" [src]="usuario.avatarURL" alt="Generic placeholder image">
                        <div class="media-body">
                            <h4 class="mt-0 mb-1 display-4">{{usuario.username}}</h4>
                            <button *ngIf="!isFollowingUser(usuario.id)" type="button" (click)="followuser(usuario.id)" class="btn btn-sm btn-follow btn-primary">Seguir</button>
                            <button *ngIf="isFollowingUser(usuario.id)"  type="button" (click)="unfollowuser(usuario.id)" class="btn btn-sm btn-follow btn-primary">Dejar de Seguir</button>

                        </div>
                    </li>
                </ul>
                -->
            </div>
        </div>
    </div>
</div>