<div class="col-md-12" *ngFor="let vineta of listaVinetas">
   <div *ngIf="vineta">
    <div class="jumbotron">
        <div class="user-container">
            <h3 class="lead text-center">
                <img height="60px" [src]="vineta.autor.avatarURL" class="avatar responsive rounded-circle mx-auto d-block">
                <a [routerLink]="['/perfil', vineta.autor.id]" class="enlaceUser animated bounceIn" href="#">{{vineta.autor.username}}</a>
            </h3>
            <hr>
        </div>
        <img [src]="vineta.imgURL" class="img-fluid mx-auto d-block" alt="vineta imagen" />
        <div class="container social-container text-center">
            <hr>
            <h3 class="display-4">{{vineta.titulo}}</h3>
            <p class="lead">{{vineta.descripcion}}</p>
            <p class="lead">- <a [routerLink]="['/tag', vineta.tag.nombre]">{{vineta.tag?.nombre}}</a> -</p>
            <button class="btn btn-warning btn-circle" (click)="favorite(vineta)"> <i class="fa fa-star" aria-hidden="true"></i></button>
            <button class="btn btn-info btn-circle" [routerLink]="['/vineta', vineta.id]"> <i class="fa fa-comments" aria-hidden="true"></i> <span style="color:#5bc0de" class="badge">{{vineta.comentarios.length}}</span></button>
            <button class="btn btn-success btn-circle" (click)="like(vineta)"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> <span style="color:#5cb85c" class="badge">{{vineta.likes}}</span></button>
            <button class="btn btn-danger btn-circle" (click)="dislike(vineta)"> <i class="fa fa-thumbs-down" aria-hidden="true"></i> <span style="color:#d9534f" class="badge">{{vineta.dislikes}}</span></button>
            <button *ngIf="isAdmin" class="btn btn-secondary btn-circle" (click)="eliminarVineta(vineta.id, vineta)"> <i class="fa fa-crosshairs" aria-hidden="true"></i></button>
            <hr>
        </div>
        <div class="container misc-container">
            <small class="text-muted">Publicado en CuantoMeme</small>
        </div>
    </div>
    </div>
</div>