<div *ngIf='listamultimedia'>
    <div>
        <div *ngIf='listamultimedia[0]'>
            <h2 class="display-3 text-center">{{listamultimedia[0].event_title}}</h2>
        </div>
    </div>
    <div id="event-details-carousel">

    <ngb-carousel id="event-details-carousel-slide">
                <div *ngFor="let multimedia of listamultimedia">
                    <ng-template ngbSlide>
                        <img [src]="multimedia.picture_url" alt="Random first slide">
                        <div class="carousel-caption">
                            <h3>{{multimedia.picture_name}}</h3>
                            <ul class="list-inline">
                                <li *ngFor="let tag of multimedia.tags" class="list-inline-item">
                                    <button (click)="search_by_tag(tag)" type="button" class="btn btn-success btn-xs">{{tag}}</button>
                                </li>
                            </ul>                            
                            <button type="button" class="btn btn-info"><a [href]='original_file' (click)= 'generate_original_url(multimedia)'download="text.txt">
                                    descarga
                                </a></button>
                        </div>
                    </ng-template>
                </div>
        </ngb-carousel>
    </div>
</div>