<div *ngIf="servicioLogin.user_logged">
        <img id="profile-image-sidebar" [src]="servicioLogin.user_logged.avatar" class="rounded-circle img-responsive mx-auto d-block" alt='Picture not found'>
        <h2 class="text-center">{{servicioLogin.user_logged.username}}</h2>
        <ul *ngIf="servicioLogin.user_logged">
                <li>
                    <form>
                            <div class="form-group">
                                <input (click)="issearching(); $event.stopPropagation();" [(ngModel)]="keytosearch" type="text" class="form-control" id="search_field_input" aria-describedby="search_field_Help" placeholder="Search..." name="search_field">
                                <hr>
                                <div *ngIf='searching'>
                                    <div *ngIf="optionsSearchList" class="form-group">
                                            <angular2-multiselect [data]="optionsSearchList" 
                                            [(ngModel)]="selectedOptionSearch" name= "something4"
                                            [settings]="settingSearch" 
                                            (onSelect)="onItemSelect($event)"
                                            (onDeSelect)="OnItemDeSelect($event)" 
                                            (onSelectAll)="onSelectAll($event)" 
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                            </angular2-multiselect>
                                    </div>
                                    <button (click)='search()' class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                                </div>
                            </div>
                    </form>
                </li>
                <li><a routerLink='/home'><i class="fa fa-user" aria-hidden="true"></i> Perfil</a></li>
        </ul>

        <div *ngIf="servicioLogin.user_logged.role == 'teacher'">
            <ul>
                    <li><a routerLink="/users"><i class="fa fa-star" aria-hidden="true"></i> Usuarios</a></li>
                    <li><a routerLink="/events"><i class="fa fa-star" aria-hidden="true"></i> Eventos</a></li>
                    <li><a routerLink="/classrooms"><i class="fa fa-star" aria-hidden="true"></i> Clases</a></li>
                    <li><a routerLink="/favorites"><i class="fa fa-star" aria-hidden="true"></i> Subir imagenes</a></li>


            </ul>
                <ul  *ngFor="let level of levels">
                        <div  *ngIf="level">
                            <li class="dropdown" >
                                <a class="fa fa-star" (click)="get_classrooms_by_level(level)"><i class="dropdown-toggle" aria-hidden="true"></i> {{level}}</a>
                                <ul  *ngFor="let classroom of classrooms_to_list">
                                    <div *ngIf="classroom.level == level">
                                        <li><a routerLink="/">{{classroom.classs}}</a></li>
                                    </div>
                                </ul>
                            </li>
                        </div>
                    </ul>
        
        </div>
        <ul>
                <li><a routerLink="/" (click)="logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar sesión</a></li>
        </ul>
    </div>
    <div *ngIf="!servicioLogin.user_logged">
        <h2 class="text-center">Anónimo</h2>
    </div>

