<div class="container">
    <div class="row">
        <div style="margin-top:50px;" class="col-md-4 offset-md-4">
            <div class="alert alert-danger" role="alert">
                <h5>Las contraseñas no coinciden</h5>
                <p>Asegurese de que ambas contraseñas tienen el mismo valor.</p>
            </div>
            <div class="alert alert-danger" role="alert">
                <h5>Ese nombre ya está en uso</h5>
                <p>Introduzca otro nombre distinto.</p>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Ingrese sus datos</h3> </div>
                <div class="card-block">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Nombre de usuario" name="nombre-usuario" [(ngModel)]="nombre"type="text" autofocus> </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Correo electrónico" name="email" type="email" [(ngModel)]="email" autofocus > </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Contraseña" name="password" type="password" (keypress)="getPassStrength()" [(ngModel)]="pass">Fuerza de la contraseña: {{fuerzaPass}} </div>
                            <a (click)="signupuser()" class="btn btn-lg btn-success btn-block">Registro</a> </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>