<div *ngIf="event">
    <div id="body-details">
            <!-- -->
            <div class="row">
                <div class="col-md-2" id="sidebar">
                        <side-menu [@slideInOut]="toggled"></side-menu>
                </div>
                <!-- -->
                <div id="viñeta" class="col-md-10">
                        <!-- -->
                        <div class="row">
                                <!-- -->
                                <div class="col-md-10"> 
                                    <h2 class="display-3 text-center">{{event.title}}</h2>
                                    <div id="event-details-carousel">
                                            <ngb-carousel id="event-details-carousel-slide">
                                                    <ng-template ngbSlide>
                                                            <img src="https://lorempixel.com/900/500?r=1" alt="Random first slide">
                                                        <div class="carousel-caption">
                                                        <h3>{{event.description}}</h3>
                                                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                                        </div>
                                                            <!--
                                                            <img src="https://media.cntraveler.com/photos/5715168e3658675c4f784750/master/w_1440,c_limit/skylines-nyc-cr-getty-110397100.jpg" alt="Random first slide">
                                                            <div class="carousel-caption">
                                                            <h3>First slide label</h3>
                                                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                                            </div>
                                                            -->
                                                    </ng-template>
                                                </ngb-carousel>
                                    </div>
                                    <p class="text-center lead">{{event.description}}</p>
                                    <h4 class="text-center lead">- Detalles -</h4>
                                </div>
                                <!-- -->
                                <!-- -->
                                <div class="col-md-2" id="event-detail-classrooms-list">
                                        <div id="event-detail-classrooms-list-container">
                                                <h5 class="lead">Classrooms invited</h5>
                                                <ul class="list-group" >
                                                    <div *ngFor="let classroom of event.classrooms">
                                                            <li class="list-group-item">{{classroom}}</li>
                                                    </div>
                                                </ul>
                                                <hr>
                                                <form>
                                                        <div *ngIf="itemList" class="form-group">
                                                                <label for="dateinput">Add Classrooms</label>
                                                                <angular2-multiselect [data]="itemList" 
                                                                [(ngModel)]="selectedItems" name= "something4"
                                                                [settings]="settings" 
                                                                (onSelect)="onItemSelect($event)"
                                                                (onDeSelect)="OnItemDeSelect($event)" 
                                                                (onSelectAll)="onSelectAll($event)" 
                                                                (onDeSelectAll)="onDeSelectAll($event)">
                                                              </angular2-multiselect>
                                                        </div>
                                                        <button class="btn btn-info" type="button" (click)="ModifyEvent()">Invitar a evento!</button>
        
                                                </form>
                                        </div>
                                </div>
                                <!-- -->
                        </div>
                        <!-- -->
                </div>
                <!-- -->
            </div>
            <!-- -->
            <div id="comentarB" class="row">
                <div class="container text-center">
                    <p id="comentarP">Comentar</p>
                    <hr id="comentarHR">
                    <div class="input-group">
                        ****
                    </div>
                </div>
            </div>
            <!-- -->
            <div class="row">
                ****
            </div>
            <!-- -->
    </div>
</div>