<div *ngIf="vineta">
<div id="body-details">
    <h2 class="display-3 text-center">{{vineta.titulo}}</h2>
    <h4 class="text-center lead">- Detalles -</h4>
    <hr>
    <!-- <button id="comentar" class="btn btn-info btn-circle"><i class="fa fa-plus fa-3" aria-hidden="true"></i></button> -->
    <div class="row">
        <div class="col-md-2"></div>
        <div id="viñeta" class="col-md-8">
            <div class="row"> <img [src]="vineta.imgURL" class="img-responsive mx-auto d-block"> </div>
            <p class="text-center lead">{{vineta.descripcion}}</p>
            <div class="container text-center">
                <button class="btn btn-warning btn-circle" (click)="favorite(vineta.id)"> <i class="fa fa-star" aria-hidden="true"></i></button>
                <button class="btn btn-success btn-circle" (click)="like(vineta.id)"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> <span style="color:#5cb85c" class="badge">{{vineta.likes}}</span></button>
                <button class="btn btn-danger btn-circle" (click)="dislike(vineta.id)"> <i class="fa fa-thumbs-down" aria-hidden="true"></i> <span style="color:#d9534f" class="badge">{{vineta.dislikes}}</span></button>
                <button *ngIf="isAdmin" class="btn btn-secondary btn-circle" (click)="eliminarVineta(vineta.id)"> <i class="fa fa-crosshairs" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="col-md-2">
            <h3 class="lead">Autor</h3>
            <hr>
            <div class="usuario-info text-center"><a [routerLink]="['/perfil', vineta.autor.id]">
                <img class="responsive rounded-circle mx-auto d-block" width="150px" [src]="vineta.autor.avatarURL" alt="Generic placeholder image">
                <h2 class="text-center">{{vineta.autor.username}}</h2></a>
                <button *ngIf="!followinguser" (click)="followuser(vineta.autor.id)" class="btn btn-info btn-seguir">Seguir</button>
                <button *ngIf="followinguser"  (click)="unfollowuser(vineta.autor.id)" class="btn btn-info btn-seguir">Dejar de Seguir</button>
            </div>
        </div>
    </div>
    <div id="comentarB" class="row">
        <div class="container text-center">
            <p id="comentarP">Comentar</p>
            <hr id="comentarHR">
            <div class="input-group">
                <input #ComentarioInput type="text" class="form-control" placeholder="¿Qué piensas?">
                <span class="input-group-btn">
                    <button class="btn btn-info" (click)="comentar(ComentarioInput.value); ComentarioInput.value = ''" type="button">Enviar</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
       <div class="col-md-2"></div>
       <div class="col-md-8">
            <div *ngFor="let comentario of vineta.comentarios">
                <div class="media comentario">
                    <img class="d-flex mr-3 rounded-circle" [src]="comentario.autor_comentario.avatarURL" height="70px" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 lead"><a href="#">{{comentario.autor_comentario.username}}</a> <button *ngIf="isAdmin" class="btn btn-link" (click)="eliminarComentario(comentario.ID, comentario)"><i class="fa fa-crosshairs" aria-hidden="true"></i> Eliminar</button></h5>
                        <p class="comentario-body">{{comentario.comentario}}</p>
                    </div>
                </div>
            </div>
       </div>
       <div class="col-md-2"></div>
        
    </div>
    </div>