#body-details {
    background-image: none !important;
    background-color: #F6F6F6;
    margin-top: -25px;
}

.badge {
    border-radius: 50px;
    background-color: white;
    color: dimgrey;
    font-size: 0.8em;
}
#event-details-carousel{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.list-group-item {
    height: 45px;
    text-align: center;
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
#event-details-carousel-slide{
    text-align: center
}
#event-details-carousel-slide img {
    width: inherit;
}
#event-detail-classrooms-list{
    padding-top: 100px;    
    padding-left: 0;
    padding-right: 0;
}
#event-detail-classrooms-list-container{
    width: 85%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 30px;
}

#viñeta {
    padding-bottom: 50px;
}

#comentarP {
    margin-bottom: 2px;
}

#comentarHR {
    margin-top: 2px;
}

#comentarB {
    padding-bottom: 50px;
}

.comentario {
    padding-bottom: 40px;
}

.comentario-body {
    background-color: white;
    padding: 7px;
    padding-left: 15px;
    border-radius: 20px;
    margin-bottom: 0px;
}

small {
    padding-left: 10px;
    padding-top: 1px;
    font-size: 0.7em;
}

.btn-seguir {
    padding-left: 35px !important;
    padding-right: 35px !important;
}
.badge[_ngcontent-c6] {
    border-radius: 50px;
    background-color: #42a3b8;
    color: #fbfbfb;
    font-size: 0.8em;
}