#titulo {
    background-color: white;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

.btn-circle {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 300px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}