#total-container {
    background-image: none !important;
    background-color: #F6F6F6;
    margin-top: -25px;
}

#tabs{
    width: inherit;
    text-align: center;
}

.btn-select {
    padding: 20px;
    margin-top: 20px;
}

.btn-select.active {
    color: white;
    background-color: #5bc0de;
    border-radius: 50px;
}
#content{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.btn-group {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    width: 100%;
}

.btn-follow {
    margin: 5px;
}
:host {
    background: white;
    color: black;
    position: inherit;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1%;
    min-width: 250px;
    z-index: 9999;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      border-left: 2px solid black;
  }
   
  ul {
      
    font-size: 18px;
    line-height: 3;
    font-weight: 400;
    padding-top: 0px;
    list-style: none;
  }
  
  h2 {
      padding-top: 10px;
  }
  
  #sidebar{
    background: white
  }
  #profile-image-sidebar {
    width: 80%;
  }

  #img-user-list{
    max-height: 120px;
  }
  #row-list-user{
      margin-bottom: 10px;
  }
#row-list-picture{
    margin-top: auto;
    margin-bottom: auto;
}
