#total-container {
    background-image: none !important;
    background-color: #F6F6F6;
    margin-top: -25px;
}

#tabs{
    width: inherit;
    text-align: center;
}

.btn-select {
    padding: 20px;
    margin-top: 20px;
}

.btn-select.active {
    color: white;
    background-color: #5bc0de;
    border-radius: 50px;
}
#content{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.btn-group {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    width: 100%;
}

.btn-follow {
    margin: 5px;
}

